body
{
    background-image: url('res/JavaScript-logo.png') ;
    background-repeat: no-repeat;
    background-position-y: center;
    background-color: rgb(240, 219, 79) ;
      background-size: 100%;
}

h1{
    font-family: monospace ;
    font-size: large;
    font-style: italic;
}

p{
    font-family:sans-serif;
    font-size: 16pt;
    color:white;
    font-style: oblique;

}