body
{
    background-image: url('res/JavaScript-logo.png') ;
    background-repeat: no-repeat;
    background-position-y: center;
    background-color: rgb(240, 219, 79) ;
      background-size: 100%;
}
.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(230, 229, 227, 0.418);
}